name: Push Protos to Registry

on:
  push:
    branches: [master]
    paths:
      - 'protos/**'
      - 'protato.yaml'

jobs:
  push-protos:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Install Protato
        run: |
          curl -fsSL https://github.com/rahulagarwal0605/protato/releases/download/v1.0.1/protato-linux-amd64.tar.gz | tar xz
          chmod +x protato
      
      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
      
      - name: Push to Registry
        env:
          PROTATO_REGISTRY_URL: "https://${{ secrets.REGISTRY_TOKEN }}@github.com/rahulagarwal0605/proto-registry.git"
        run: |
          ./protato push
